---
layout: page
title : Archive
header : Post Archive
group: navigation
---
{% include JB/setup %}
<span>你好,dede & dale </span><br>
<img src="http://a.hiphotos.baidu.com/image/pic/item/79f0f736afc37931da269428e9c4b74543a91160.jpg"/>
<img src="http://f.hiphotos.baidu.com/image/pic/item/09fa513d269759eef89c39c6b0fb43166c22dfeb.jpg" />
<div id="myCarousel" class="carousel slide">
   <!-- 轮播（Carousel）指标 -->
   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
   </ol>   
   <!-- 轮播（Carousel）项目 -->
   <div class="carousel-inner">
      <div class="item active">
         <img src="http://e.hiphotos.baidu.com/image/pic/item/6d81800a19d8bc3e6d0cfcc8808ba61ea8d345a8.jpg" alt="First slide">
      </div>
      <div class="item">
         <img src="http://f.hiphotos.baidu.com/image/pic/item/09fa513d269759eef89c39c6b0fb43166c22dfeb.jpg" alt="Second slide">
      </div>
      <div class="item">
         <img src="http://a.hiphotos.baidu.com/image/pic/item/79f0f736afc37931da269428e9c4b74543a91160.jpg" alt="Third slide">
      </div>
   </div>
   <!-- 轮播（Carousel）导航 -->
   <a class="carousel-control left" href="#myCarousel" 
      data-slide="prev">&lsaquo;</a>
   <a class="carousel-control right" href="#myCarousel" 
      data-slide="next">&rsaquo;</a>
</div> 
{% assign posts_collate = site.posts %}
{% include JB/posts_collate %}
